In [3]:
# Import libraries

import pandas as pd
import openpyxl
import matplotlib.pyplot as plt

In [5]:
# Read excel file
file_path = '/Users/jahdovanterpool/Downloads/personal_transactions.xlsx'
try:
    df = pd.read_excel(file_path,sheet_name='Personal_Transactions')
    print("Excel file loaded successfully!")
except FileNotFoundError:
    print("Error file not found!")
    exit()

Excel file loaded successfully!

In [8]:
# Create a 'Month' column to group our data formatted as YYYY-MM
df['Month'] = df['Date'].dt.to_period('M')

In [21]:
# Remove white spaces
df.columns = df.columns.str.strip()

In [22]:
# Calculate the monthly summary

monthly_summary = df.groupby(['Month','Type'])['Amount'].sum()

monthly_summary

Month    Type
2018-01  Expense     2931.45
         Income      7162.89
2018-02  Expense     3165.05
         Income      5220.75
2018-03  Expense     3500.16
         Income      7321.50
2018-04  Expense     6029.54
         Income      7166.88
2018-05  Expense    11392.03
         Income      5091.55
2018-06  Expense     3665.88
         Income      6017.19
2018-07  Expense     2968.98
         Income      4666.34
2018-08  Expense     2396.18
         Income      7379.15
2018-09  Expense     3286.99
         Income      5234.71
2018-10  Expense     2848.35
         Income      5022.23
2018-11  Expense     2963.65
         Income      6018.96
2018-12  Expense     3427.99
         Income      5635.10
2019-01  Expense     5187.31
         Income      4769.44
2019-02  Expense     3163.40
         Income      4500.01
2019-03  Expense     3241.51
         Income      7792.25
2019-04  Expense     4829.55
         Income      5931.89
2019-05  Expense     4673.51
         Income      5341.01
2019-06  Expense    11999.60
         Income      4514.35
2019-07  Expense     4148.06
         Income      5642.40
2019-08  Expense     4266.17
         Income      7304.10
2019-09  Expense     5998.42
         Income      6537.06
Name: Amount, dtype: float64